
 <%- include("../node_modules/ejs/ejs.js") %> 

<html>
    

<style>
    body {
  font-family: "Spotify Circular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #191414;
  /* color: #b3b3b3; */
  animation: wave 5s linear infinite;
}

 /* Define the animation for the background */
        @keyframes wave {
        0% {
            background-color:hsl(164, 46%, 41%);
        }
        25% {
            background-color: hsl(157, 45%, 41%);  /* #46937e */
        }
        50% {
            background-color: hsl(327, 44%, 54%);  /* #f32faa */
        }
        75% {
            background-color: hsl(84, 44%, 40%);  /* #cbf656 */
        }
        100% {
            background-color: hsl(164, 46%, 41%);  /* #1DB954 */
        }
        }

    h1, h2 {
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    }

    .button-row {
    text-align: center;
    margin-top: 50px;
    }

    .button-row button {
    display: inline-block; 
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: #1db954;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    }

    .button-row button:hover {
    background-color: #1ed760;
    cursor: pointer;
    }

    table {
    border-collapse: collapse;
    width: 100%;
    }

    .grid {
        border: 1px solid #000; /* add a solid black border */
        padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    /* gap: 16px 16px; */
    grid-row-gap: 16px;  /* set vertical gap to 16px */
    grid-column-gap: 16px;  /* set horizontal gap to 16px */
    justify-content: center;
    margin: 0 auto;
    /* margin-top: 8px;
    margin-bottom: 8px; */
    /* min-width: 400px; */
    max-width: 900px;
    max-height: 900px;
    }

    .grid .center {
    grid-column: 3 / 6;
    grid-row: 4 / 4;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    font-family: "Spotify Text", sans-serif;
    }


    .grid img {
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 400px;
        object-fit: contain;
    }
</style>

<div class="grid">
    <div class="center">Your mother</div>

   
</div>

<div class="button-row">
    <button id="this-month-button">This month</button>
    <button id="last-6-months-button">Last 6 months</button>
    <button id="all-time-button">All Time</button>
</div>




<!-- JAVASCRIPT HERE -->

<script src="../node_modules/ejs/ejs.js">
    var tracksMed = JSON.parse('<%- ejs.escape(tracksMed) %>');
    console.log(tracksMed[0].album.images[1].url);
    const tracksShort = window.tracksShort;
    const tracksLong = window.tracksLong;

    document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("this-month-button").addEventListener("click", () => {
                // Load top songs for this month
                // Get the current month and year
                const date = new Date();
                const month = date.toLocaleString("en-US", { month: "long" });
                const year = date.getFullYear();

                // Update the inner HTML of the element with the center class
                document.querySelector(".center").innerHTML = `Your top songs of ${month} ${year}`;

                let j = 0;
                let html = '';
                for (let i = 0; i < 49; i++) {
                    if (i !== 24 && i !== 25 && i !== 26) {
                        html += `<img src="${tracksMed[i - j].album.images[1].url}" alt="album image">`;
                    } else {
                        j = j + 1;
                    }
                }
                grid.innerHTML = html;

            });
        });

        // has to go after the this-month-button event listener so that it actually loads in the DOM
     document.addEventListener("DOMContentLoaded", () => {
            // Get the button element
            const button = document.getElementById("this-month-button");

            // Click the button
            button.click();
        });

    document.getElementById("last-6-months-button").addEventListener("click", () => {

        const tracksShort = window.tracksShort;        
            // Add the center element back to the grid
            document.querySelector(".center").innerHTML = "Your top songs of the last 6 months";

        });
    
    document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("all-time-button").addEventListener("click", () => {
                // Load top songs for this month
                document.querySelector(".center").innerHTML = "Your top songs of all time";
            });
        });

</script>


</html>