<!DOCTYPE html>
<html>

<head>
    <title>My Spotify API app ✨</title>
</head>

<!-- <body>
    <h1>Welcome! <%= user.id %> ✨</h1>
    <img src="<%= user.images[0].url %>" class="circular_image" />
    <table>
        <% for (let t of tracks) { %>
            <tr>
                <td>
                    <%= t.artists[0].name %>
                </td>
                <td>
                    <%= t.name %>
                </td>
                <td>
                    <img src="<%= t.album.images[1].url %>" class="rectangular_image" />
                </td>
            </tr>
            <% } %>
    </table>
    <table>
        <% for (let a of artists) { %>
            <tr>
                <td>
                    <%= a.name %>
                </td>
                <td>
                    <a href="/artist/<%= a.id %>">View artist</a>
                </td>
            </tr>
            <% } %>
    </table>
</body> -->

</html>